/* color: #757575; Основной цвет текста */
/* color: #212121; вторичный цвет текста */
/* #FFFFFF основной цвет фоона */
/* #2F303A вторичный цвет фона */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --button-hover-color: #188ce8;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --secondary-bg-color: #2f303a;
  --filter-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --social-icons-color: #afb1b8;
  --cubic-const: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-color--non-opacity: rgba(255, 255, 255, 0.1);
  --address--link-color: rgba(255, 255, 255, 0.6);
  --trans-time: 1250ms;
}
/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: "Roboto", sans-serif;
  /* font-weight: 400; */
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
button,
input,
optgroup,
select,
textarea {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.project-set .link,
.header-contact .link {
  color: inherit;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* contact style */
.header-contact {
  display: flex;

  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

/* header link style */
.page-header__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.page-header__link:hover,
.page-header__link:focus {
  color: var(--accent-color);
}

.button {
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}

.button--big:hover,
.button--big:focus {
  background-color: var(--button-hover-color);
}
/* title style */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  margin: 0 auto 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* PAGE_HEADER */
.page-header {
  /*   padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.page-header__layout {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page-header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGO style */
.page-header__logo {
  margin-right: 93px;
}
.logo {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.19;
  font-size: 26px;
}
.logo__text--color--accent {
  color: var(--accent-color);
}
.logo__text--color--black {
  color: var(--primary-black-color);
}
/* site navigation styles */
.nav__site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
}
/* Current link  */
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

/* page header contacts */
.page-header__contact {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  /* height: 100%; */
}
.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact__icon {
  margin-right: 10px;

  fill: var(--primary-text-color);
  transition: fill var(--trans-time) var(--cubic-const);
}

.contact__item:hover .contact__icon,
.contact__item:focus .contact__icon {
  fill: var(--accent-color);
}

/* hero style */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;

  /*   padding-top: 200px;
  padding-bottom: 200px; */

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--primary-white-color);
}
.hero-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button--big {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;

  letter-spacing: 0.06em;
  transition: background-color var(--trans-time) var(--cubic-const);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Feature section */

.section--no-btm-padding {
  padding-bottom: 0;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  justify-content: center;
}

.feature-card__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__item {
  flex-basis: calc((100% / 4) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
.feature-card__icon {
  width: 70px;
  height: 70px;
}

.feature-card__thumb {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--filter-bg-color);
}

/* Service-section */

.service-list {
  display: flex;
}

.service-card {
  position: relative;
}
.service-list__item:not(:last-child) {
  margin-right: 30px;
}
.service-card__overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}
.service-card__text {
  padding-left: 15px;
  padding-right: 15px;
  color: var(--primary-white-color);
  font-size: 14px;

  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

/* COLOR hover */
.address .link,
.page-header .link {
  transition: color var(--trans-time) var(--cubic-const);
}
/* background-color hover */

/* .social-item .link {
  transition: background-color var(--trans-time) var(--cubic-const);
} */
/* fill hover */
.contact-item .button-icon,
.social-item .social-icon,
.clients-item .client-icon {
  transition: fill var(--trans-time) var(--cubic-const);
}
/* border hover */

/* HEADER */

/* Logo styles */

/* Services section */

/* Team section */
.section--bg-color--gray {
  background-color: var(--filter-bg-color);
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.team-list__item {
  background-color: var(--primary-white-color);
  flex-basis: calc((100% / 4) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;

  /* line-height: 1.88; */

  border-radius: 0px 0px 4px 4px;
} /* 
.team-item:not(:last-child) {
  margin-right: 30px;
} */
.team-card__about {
  display: block;
  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-card__job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}
.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

/* social list */

.social-list {
  display: flex;
  flex-basis: calc((100% / 4) - 10px);
  margin-right: -10px;
  justify-content: center;
  align-items: center;
}
.social-list__item {
  display: block;
  width: 44px;
  height: 44px;
  /*   background-color: var(--primary-white-color); */

  text-align: center;
  margin-right: 10px;
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--social-icons-color);
  transition: fill var(--trans-time) var(--cubic-const);
}
/* .team .social-item .link {
  background-color: var(--primary-white-color);
} */
.social-list__link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--trans-time) var(--cubic-const);
}
.social-list__link:focus .social-list__icon,
.social-list__link:hover .social-list__icon {
  fill: var(--primary-white-color);
}
.social-list__link:focus,
.social-list__link:hover {
  background-color: var(--accent-color);
}

/* CLIENTS SECTION */
.client-box__section-title {
  margin-bottom: 50px;
}
.client-list {
  display: flex;
  /*   flex-basis: calc((100% / 6) - 30px); */
  justify-content: center;
  align-items: center;
  margin-right: -30px;
}
.client-list__item {
  width: 100%;
  height: 100%;
  margin-right: 30px;
}
.client-list__link {
  /*   padding: 16px 32px; */
  position: relative;
  width: 170px;
  min-height: 92px;
  display: block;
  border: 1px solid var(--social-icons-color);
  border-radius: 4px;
  transition: border-color var(--trans-time) var(--cubic-const);
  /* align-items: center;
  justify-content: center; */
}
.client-list__icon {
  /*   margin: 0;
  padding: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 106px;
  height: 60px;
  fill: var(--social-icons-color);
  transition: fill var(--trans-time) var(--cubic-const);
}
.client-list__link:focus,
.client-list__link:hover {
  border-color: var(--accent-color);
}
.client-list__link:focus .client-list__icon,
.client-list__link:hover .client-list__icon {
  fill: var(--accent-color);
}

/* footer style */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.footer-layout {
  display: flex;
  justify-self: center;
}
.footer__logo {
  margin-bottom: 20px;
}
.logo__text--color--white {
  color: var(--primary-white-color);
}
.footer__column--left {
  margin-right: 70px;
}
.footer__column--middle {
  margin-right: auto;
}
.footer__social,
.footer__subscribe {
  padding-top: 12px;
}
.footer__join-text {
  display: block;
  line-height: 1.14;
  color: var(--primary-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* social list bgcolor */
.social-list__icon--fill--white {
  fill: var(--primary-white-color);
}
/* .footer .social-item {
  background-color: transparent;
} */
.social-list__link--non-opacity {
  background-color: var(--bg-color--non-opacity);
}
/* .right-footer .link {
  background: ;
} */
/* FOOTER address */
.address__text {
  color: var(--primary-white-color);
}
.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.address > *:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--address--link-color);
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.subscription-form__field {
  /*  position: relative; */
  display: block;
  min-width: 358px;
  height: 100%;
  margin-right: 12px;
}
.subscription-form__input {
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.subscription-form__button {
  /*   width: 200px; */
  /*  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  /*  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
}
.sub-button__text {
  margin-right: 10px;
}

.sub-button__icon {
  fill: var(--primary-white-color);
  width: 24px;
  height: 24px;
}

/* PORTFOLIO PAGE */
/* filters style */

.filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
}
.filter-list__item {
  display: inline-block;
}
.filter-list__item:not(:last-child) {
  margin-right: 9px;
}

.filter-list__button {
  position: relative;
  background-color: var(--filter-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  padding: 6px 22px;
  transition: color var(--trans-time) var(--cubic-const),
    background-color var(--trans-time) var(--cubic-const);
}

.filter-list__button::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  /* Create the box shadow at expanded size. */

  /* Hidden by default. */
  opacity: 0;
  transition: opacity var(--trans-time) var(--cubic-const);
}
.filter-list__button:hover::before,
.filter-list__button:focus::before {
  opacity: 1;
}
.filter-list__button:hover,
.filter-list__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* projects styles */

.project-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.project-set__item {
  flex-basis: calc((100% / 3) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
  /*   overflow: hidden; */
}
.project-card:hover .project-card__overlay,
.project-card:focus .project-card__overlay {
  transform: translateY(0);
}
.project-card {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
/**/

.project-card::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 0;
  transition: opacity var(--trans-time) var(--cubic-const);
}
.project-card:hover::before,
.project-card:focus::before {
  opacity: 1;
}

.project-card__label {
  padding: 20px 24px;
  text-align: left;
}
.project-card__title {
  font-weight: 700;
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-card__text {
  font-size: 16px;
  line-height: 1.88;
}

/* .card-text > .title {
} */
/* SVG SETTINGS */
.button-icon {
  padding: 0;
  margin: 0;
  /*  display: inline-block; */
  /* vertical-align: middle; */
}
.contact-item.link {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.separator {
  display: flex;
}

.link-text {
  display: block;
}
.project-card__thumb {
  position: relative;
  overflow: hidden;
}
.project-card__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 0;
  left: 0;
  /*   right: 0;
  bottom: 0; */
  width: 100%;
  height: 101%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--trans-time) var(--cubic-const);
}

.project-card__overlay-text {
  padding-left: 24px;
  padding-right: 24px;
  /*   width: 322px; */
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;

  /* or 156% */
}

/* Backdrop  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /*   visibility: visible; */
  transition: opacity 250ms ease-in;
  /* transition: opacity var(--trans-time) cubic-bezier(); */
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}
/* MODAL WINDOW */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  width: 528px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms ease-out;
}
/* close mdl button */
.close-modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  /* transform: translate(-50%, -50%); */
  /*   display: flex;
  align-items: center;
  justify-content: center; */

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-modal__button:hover,
.close-modal__button:focus {
  cursor: pointer;
}
.close-modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  fill: var(--primary-black-color);
  transition: fill var(--trans-time) var(--cubic-const);
}
.close-modal__button:hover .close-modal__icon {
  fill: var(--accent-color);
}
.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
/* .subscription-form .email-label {
  position: absolute;

  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25;
  margin-right: 45px;
  color: rgba(255, 255, 255, 0.6);
} */
/* callback form */
.modal-container {
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
.callback-form__field-list {
  margin-bottom: 20px;
}
/* input list */
.field-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.field-list__item {
  position: relative;
  width: 100%;
  /* height: 40px; */
  display: block;
}
.field-list__item:not(:last-child) {
  margin-bottom: 28px;
}
.field-list__label {
  position: absolute;
  left: 0;
  top: -4px;
  transform: translateY(-100%);
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */

  letter-spacing: 0.01em;
}
.field-list__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--title-text-color);
  border-radius: 4px;
  transition: border-color var(--trans-time) var(--cubic-const);
}
.field-list__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var var(--title-text-color);
  transition: fill var(--trans-time) var(--cubic-const);
}
.field-list__input:focus + .field-list__icon {
  fill: var(--accent-color);
}
.field-list__input:focus,
.field-list__comment-area:focus {
  border-color: var(--accent-color);
  outline: transparent;
}
.field-list__comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.field-list__comment-area {
  display: block;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--title-text-color);
  letter-spacing: 0.01em;
  border-radius: 4px;
  resize: none;

  transition: border-color var(--trans-time) var(--cubic-const);
}

/* label {
  display: block;
}
 */

.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;

  color: var(--title-text-color);
}

/* checkbox style */
.callback-form__agreement-checkbox {
  margin-bottom: 30px;
}
.agreement-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.agreement-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /*   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

.agreement-checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;

  /*   background-image: url("../images/check.svg"); */
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color var(--trans-time) var(--cubic-const);
}
.agreement-checkbox__input:checked + .agreement-checkbox__icon {
  border: 0;
  border-color: transparent;
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}
.agreement-checkbox__text {
  user-select: none;
}
.agreement-checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}
.callback-form__sub-button {
  display: block;
  margin: 0 auto;
}
/* .close-modal__button */
/* .application-form .send-button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */
/* .application-form .send-text {
  color: var(--primary-white-color);

  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
} */
/* .send-button:hover,
.send-button:focus {
  background-color: var(--button-hover-color);
}
.send-button {
  transition: background-color var(--trans-time) var(--cubic-const);
}
 */
