.feature-list {
  @include centered__flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.feature-list__item {
  flex-basis: calc((100% / 4) - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
