.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 581px;
  width: 528px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms ease-out;
  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
  }
}
.modal-container {
  width: 100%;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}
.close-modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  /* transform: translate(-50%, -50%); */
  /*   display: flex;
  align-items: center;
  justify-content: center; */

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $primary-white-color;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
.close-modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 11px;
  fill: $primary-black-color;
  transition: fill $trans-time $cubic-const;
  .close-modal__button:hover & {
    fill: $accent-color;
  }
}
.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;

  color: $title-text-color;
}
